@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  background-image: url('./images/gg.jpg');
 background-repeat: no-repeat;
 background-size: 100% 100%;
}

::selection {
  background: #4158d0;
  color: #fff;
}

.wrapper1 {
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper1 .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrapper1 .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  text-align: center;
}

.wrapper1 .field input {
  height: 100%;
  width: 80%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.wrapper1 .field input:focus,
.field input:valid {
  border-color: #4158d0;
}

.wrapper1 .field label {
  position: absolute;
  top: 50%;
  left: 58px;
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.field input:focus~label,
.field input:valid~label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}

.submit_btn {

  cursor: pointer;
  height: 35px;
  width: 115px;
  position: relative;
  padding: 20px;
margin-left: 135px;

  
  background-color: black;
  
  color:#FB76E2;
  
  font-family: poppins;
  border: 3px solid  ;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-shadow: 0 0 45px #FB76E2,0 0 5px  #FB76E2;
   position: relative;
            text-shadow: 0 0 4px #FB76E2,
    0 0 10px #FB76E2,
    0 0 20px #FB76E2,
    0 0 80px #FB76E2,
    0 0 90px #FB76E2,
    0 0 100px #FB76E2;
  
  font-size: 20px;
  transition: 1.5s;
  margin-top: -10px;
  line-break: 15px;
  border-radius: 33px;
  
}
.h{
  margin-top: -11px;
}
.submit_btn:hover{
  box-shadow: 0 5px 50px 0  black,0 5px 20px 0 black,
            0 5px 50px  0  black inset,0 5px 20px 0  black;
            text-shadow: 0 0 5px black,0 0 4px black;
}


/* Import Google font - Poppins */

::selection {
  color: #fff;
  background: #6990F2;
}

.wrapper {
  background: #fff;
  border-radius: 0 0 15px 15px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
  font-weight: 500;
}

.wrapper .input_video_here {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990F2;
}

.input_video_here :where(i, p) {
  color: #6990F2;
}

.input_video_here i {
  font-size: 50px;
}

.input_video_here p {
  margin-top: 15px;
  font-size: 16px;
}

.input_type {
  user-select: none;
  margin-top: 15px;
  font-size: 26px;
  text-align: center;
  color: #c417c7;
}

.hide {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}